# directories
node_modules/
dist/
build/
coverage/

# sst
.sst/
.build/
.sst.config.*
cdk.context.json

# logs
*.log
*-debug.log*
*-error.log*

# miscellaneous
.eslintcache
.DS_Store
*.tsbuildinfo

# secrets
.env
.env.*
.env-*
.npmrc

# secret examples
!**.example

# locks
*-lock.json
*.lock
