# directories
node_modules/
dist/
build/
coverage/

# sst
.sst/
.build/

# logs
*.log
*-debug.log*
*-error.log*

# miscellaneous
.eslintcache
.vscode
*.d.ts
.DS_Store
*.tsbuildinfo

# secrets
.env
.env.*
.env-*
.npmrc

# locks
*-lock.json
*-lock.yaml
*.lock
